body{
  width: 70%;
}
.header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 
}

.li-header{
  display: flex;
  list-style: none;
}

.header-btn{
background: #FFFFFF;
box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
border-radius: 50px;
border: none;
}

.about-security-block{
background: rgba(240, 99, 184, 0.15);
border-radius: 50px;
}

.main{
  display: flex;
  justify-content: center;
}

.li-h{
margin-left: 25px;
font-size: 16px;
line-height: 160%;
color: #4B5D68;
}

a{
  text-decoration: none;
}

.container__inner{
  display: flex;
}

.content__inner{
  display: flex;
}
